<div class="page-header text-center">
    <h1>TÍTULO DA FOTO AQUI</h1>
</div>

<form name="formulario" class="row">
    <div class="col-md-6">

        <div class="form-group" id="titulo">
            <label for="titulo">Título</label>
            <input name="titulo" class="form-control">
        </div>
        <div class="form-group" id="url">
            <label for="url">URL</label>
            <input name="url" class="form-control">
        </div>
        <div class="form-group" id="descricao">
            <label for="descricao">Descrição</label>
            <input name="descricao" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>

        <a href="/" class="btn btn-primary">Voltar</a>
        <hr>
    </div>

    <div class="col-md-6">
        <minha-foto></minha-foto>
    </div>

</form>